.main-main-class{
   background-color: transparent

}

.main-app{
   /* background-image: url(./assets/logo/logo1.png); */
   background-repeat: no-repeat;
   background-position: bottom;
   background: scroll;

   
}
