.drinkPage {
    width: 80%;
    margin-bottom: 0px !important;
}

.Drink {
    display: flex;
    margin-bottom: 0px !important;
}

.itemDescription {
    margin-left: 16px;
    margin-bottom: 0px !important;

}

.addedbuttem {
    float: right;
}